/GameRequest.class
/RequestAuth.class
/RequestChat.class
/RequestCollision.class
/RequestDead.class
/RequestHealth.class
/RequestHeartbeat.class
/RequestMove.class
/RequestPowerUp.class
/RequestPowerUpPickUp.class
/RequestPrivateChat.class
/RequestPrizes.class
/RequestRankings.class
/RequestReady.class
/RequestResults.class
/RequestPowerPickUp.class
/RequestRegister.class
/RequestChangeHealth.class
