/GameResponse.class
/ResponseAuth.class
/ResponseChat.class
/ResponseCollision.class
/ResponseDead.class
/ResponseDisconnected.class
/ResponseHealth.class
/ResponseMove.class
/ResponsePowerUp.class
/ResponsePowerUpPickUp.class
/ResponsePrivateChat.class
/ResponsePrizes.class
/ResponseRankings.class
/ResponseReady.class
/ResponseResults.class
/ResponsePowerPickUp.class
/ResponseRegister.class
/ResponseChangeHealth.class
